@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: lighter;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;


}

.containor {
    width: 100vw;
    height: 100vh;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 15px;

}

.leftnav {
    display: flex;
    gap: 20px;
}

.leftnav img:nth-child(2) {
    width: 90px;
}

.centernav {
    width: 60%;
    display: flex;
    justify-content: center;
    font-weight: 300;
}

.centernav>input {
    background-color: black;
    font-size: 17px;
    font-weight: 500;
    border: none;
    width: 58%;
    padding: 5px 15px;
    border: 1px solid #303030;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.centernav img:nth-child(2) {
    padding: 3px 10px;
    background-color: #222222;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.centernav img:nth-child(3) {
    margin-left: 10px;
    padding: 5px;
    background-color: #222222;
    border-radius: 20px;
}

.rightnav {
    display: flex;
    gap: 20px;

}

.rightnav img:nth-child(5) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.ytpremium {
    display: flex;
    height: 71%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.ytdesc>h2 {
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
}

.ytpremiumdetails {
    display: flex;
    font-weight: lighter;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    align-items: center
}

.ytpremiumdetails>a {
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 20px;
    width: 180px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: black;
    background-color: #3EA6FF;
}
.ytdesc{
    width: 550px;
}

.ytpremiumdetails p:nth-child(2) {
    font-size: 25px;
    font-weight: 300;
    width: 750px;
}

.ytpremiumdetails p:nth-child(3) {
    font-size: 15px;
    font-weight: 400;
}

.annual {
    color: #76A6FF;
    font-weight: 400;
}

.ytpremiumdetails p:nth-child(4) {
    color: #76A6FF;
    font-weight: 400;
}

.feature {
    background-color: black;
    color: white;
    display: flex;
    height: 45%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.feature div:nth-child(1),
.feature div:nth-child(2),
.feature div:nth-child(3) {
    width: 294px;
    height: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4px;

}

.feature div:nth-child(1)>p,
.feature div:nth-child(2)>p,
.feature div:nth-child(3)>p {
    color: azure;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}

.feature div:nth-child(1)>h1,
.feature div:nth-child(2)>h1,
.feature div:nth-child(3)>h1 {
    color: white;
    font-weight: 300;
}

.bg1 {
    background-image: url(assets/bg1.jpeg);
    height: 65%;
    background-size: cover;

}

.bg1>div>h2 {
    color: white;
    font-size: 50px;
    font-weight: 300;
}

.bg1>div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12% 0 0 50%;
}

.bg1>div>p {
    font-size: 20px;
    font-weight: 300;
    width: 65%;
    line-height: 30px;
    color: rgb(229, 229, 229);

}

.bg2 {
    background-image: url(assets/bg2.jpeg);
    height: 65%;
    background-size: cover;
    color: white;

}

.bg2>div>h2 {
    color: white;
    font-size: 50px;
    font-weight: 300;
}

.bg2>div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12% 0 0 17%;
}

.bg2>div>p {
    font-weight: 300;
    width: 40%;
    font-size: 20px;
    line-height: 30px;
    color: rgb(229, 229, 229);

}

.bg3 {
    background-image: url(assets/bg3.jpeg);
    height: 65%;
    background-size: cover;
    color: white;

}

.bg3>div>h2 {
    color: white;
    font-size: 50px;
    font-weight: 300;
}

.bg3>div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12% 0 0 50%;
}

.bg3>div>p {
    font-weight: 300;
    width: 65%;
    font-size: 20px;
    line-height: 30px;
    color: rgb(229, 229, 229);

}

.bg4 {
    background-image: url(assets/bg4.jpeg);
    height: 65%;
    background-size: cover;
    color: white;

}

.bg4>div>h2 {
    color: white;
    font-size: 50px;
    font-weight: 300;
}

.bg4>div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12% 0 0 17%;
}

.bg4>div>p {
    font-weight: 300;
    width: 40%;
    font-size: 20px;
    line-height: 30px;
    color: rgb(229, 229, 229);

}

.faqs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 66%;
}

.faqdetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.faqdetails>p {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
}

.drop {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 300;

}

.drop>p {
    font-size: 18px;
    font-weight: 400;

}

hr {
    opacity: 0.2;
}
.helpcenter{
    width: 50%;
}

.helpcenter>p {
    font-size: 17px;
    font-weight: 300;
    padding-top: 80px;
}

.helpcenter>p>span {
    color: #76c4ff;
    font-weight: 400;

}
*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #000000;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #000000;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a4a4a4;
}


/* Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more. */
@media screen and (max-width:480px) {
    .faqs {
        height: 92%;
    }
    .helpcenter>p {
        padding-right: 0px;
        padding-top: 80px;
        margin: auto;
    }
    .helpcenter {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 0px;
    }
    .drop>p {
        font-size: 18px;
        font-weight: 400;
        width: 170px;
    }
    .bg4,
    .bg3,
    .bg2,
    .bg1 {
        height: 29%;
        width: 100%;
        background-size: cover;
    }
    .bg4>div>h2,
    .bg3>div>h2,
    .bg2>div>h2,
    .bg1>div>h2 {
        color: white;
        font-size: 29px;
        font-weight: 300;
    }
    .bg4>div>p,
    .bg3>div>p,
    .bg2>div>p,
    .bg1>div>p {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        width: 90%;
        text-align: justify;
        color: rgb(229, 229, 229);
    }
    .bg4>div,
    .bg3>div,
    .bg2>div,
    .bg1>div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 100px 0 0 25px;
    }
    .feature {
        display: flex;
        flex-direction: column;
        height: 120%;
        gap: 10px;
    }
    .feature div:nth-child(1),
    .feature div:nth-child(2),
    .feature div:nth-child(3) {
        width: 80%;
        height: 30%;
        justify-content: center;
    }
    .ytpremium {
        height: 91%;
        gap: 50px;
    }
    .ytpremiumlogo>img{
        width: 100%;
    }
    .ytpremiumlogo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10%;
    }
    .ytdesc{
        width: 100%;
    }
    
    .ytpremiumdetails p:nth-child(2) {
        width: 100%;
    }
    .centernav{
        display: none;
    }
    .rightnav img:nth-child(2),.rightnav img:nth-child(4){
        display: none;
    }

}

@media screen and (min-width:481px) and (max-width:768px) {
    .faqs {
        height: 92%;
    }

    .helpcenter>p {
        width: 73%;
        padding-right: 0px;
        padding-top: 80px;
    }
    .helpcenter {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 0px;
    }
    .drop>p {
        font-size: 18px;
        font-weight: 400;
        width: 170px;
    }
    .bg4,
    .bg3,
    .bg2,
    .bg1 {
        height: 33%;
        width: 100%;
        background-size: cover;
    }
    .bg4>div>h2,
    .bg3>div>h2,
    .bg2>div>h2,
    .bg1>div>h2 {
        color: white;
        font-size: 29px;
        font-weight: 300;
    }
    .bg4>div>p,
    .bg3>div>p,
    .bg2>div>p,
    .bg1>div>p {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        width: 90%;
        text-align: justify;
        color: rgb(229, 229, 229);
    }
    .bg4>div,
    .bg3>div,
    .bg2>div,
    .bg1>div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 100px 0 0 25px;
    }
    .feature {
        display: flex;
        flex-direction: column;
        height: 120%;
        gap: 10px;
    }
    .feature div:nth-child(1),
    .feature div:nth-child(2),
    .feature div:nth-child(3) {
        width: 50%;
        height: 30%;
        justify-content: center;
    }
    .ytpremium {
        height: 75%;
        gap: 50px;
    }
    .ytpremiumlogo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    .centernav{
        display: none;
    }
    .ytdesc{
        width: 100%;
    }
    
    .ytpremiumdetails p:nth-child(2) {
        width: 100%;
    }
   

}

@media screen and (min-width:769px) and (max-width:1024px) {
    .faqs {
        height: 77%;
    }
    .helpcenter>p {
        width: 60%;
        padding-right: 0px;
    }
    .bg4,
    .bg3,
    .bg2,
    .bg1 {
        height: 45%;
        width: 100%;
        background-size: cover;
    }
    .bg4>div>h2,
    .bg3>div>h2,
    .bg2>div>h2,
    .bg1>div>h2 {
        color: white;
        font-size: 29px;
        font-weight: 300;
    }
    .bg4>div>p,
    .bg3>div>p,
    .bg2>div>p,
    .bg1>div>p {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        width: 48%;
        color: rgb(229, 229, 229);
    }
    .bg4>div,
    .bg3>div,
    .bg2>div,
    .bg1>div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 150px 0 0 25px;
    }
    .bg3>div>p,
    .bg1>div>p {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        width: 48%;
        color: rgb(229, 229, 229);
        margin-left: 400px;
    }
    .bg3>div>h2,
    .bg1>div>h2 {
        color: white;
        font-size: 29px;
        font-weight: 300;
        margin-left: 400px;
    }
    .feature {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 90%;
        gap: 10px;
    }
    .feature div:nth-child(1),
    .feature div:nth-child(2),
    .feature div:nth-child(3) {
        width: 40%;
        height: 35%;
        margin: auto;
        justify-content: center;
    }
    .ytpremium {
        height: 75%;
        gap: 50px;
    }
    .ytpremiumlogo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    
    .centernav{
        display: none;
    }
}

@media screen and (min-width:1025px) and (max-width:1200px) {
    .rightnav img:nth-child(1),.rightnav img:nth-child(2){
        display: none;
    }

}

@media screen and (min-width:1201px) {
    .rightnav img:nth-child(1),.rightnav img:nth-child(2){
        display: none;
    }

}